{
  "plugins": [
    "import",
    "prettier",
    "functional"
  ],
  "extends": [
    "airbnb-base",
    "plugin:import/errors",
    "plugin:import/warnings",
    "plugin:prettier/recommended"
  ],
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaVersion": 9,
    "sourceType": "module"
  },
  "env": {
    "es6": true,
    "node": true,
    "mocha": true
  },
  "globals": {
    "expect": true
  },
  "rules": {
    "prettier/prettier": [
      "error",
      {
        "singleQuote": true,
        "arrowParens": "always",
        "trailingComma": "all",
        "endOfLine": "lf",
        "printWidth": 100
      }
    ],
    "import/order": [
      "error",
      {
        "groups": [
          ["builtin", "external"],
          ["sibling", "parent", "internal", "index", "unknown"]
        ],
        "newlines-between": "always"
      }
    ],
    "lines-between-class-members": [
      "error",
      "always",
      {
        "exceptAfterSingleLine": true
      }
    ],
    "prefer-destructuring": [
      "error",
      {
        "array": true,
        "object": true
      },
      {
        "enforceForRenamedProperties": false
      }
    ]
  }
}
